@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Custom-Montserrat';
    src: url('../public/fonts/Montserrat\ Alternates\ Medium.ttf');
}

@font-face {
    font-family: 'Rubik-Medium';
    src: url('../public/fonts/Rubik\ Medium.ttf');
}

.font-custom-montserrat {
    font-family: 'Custom-Montserrat';
}

.font-rubik-medium {
    font-family: 'Rubik-Medium';
}

.card-shadow {
    -webkit-box-shadow: 10px 10px 26px -1px rgba(237, 237, 237, 1);
    -moz-box-shadow: 10px 10px 26px -1px rgba(237, 237, 237, 1);
    box-shadow: 10px 10px 26px -1px rgba(237, 237, 237, 1);
}

.custom-link-button {
    padding: 5px 12px;
    background-color: #00d1cd;
    color: #fff;
    display: inline-block;
    width: fit-content;
    border-radius: 3px;
    transition: ease-in-out 0.3s;
}

.custom-link-button:hover {
    background-color: #444;
}